.search-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.search-input {
    height: 48px;
    border: 0;
}

.search-icon-container {
    margin: 12px 17px
}

.search-input-text {
    /* opacity: 0.3; */
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}